.weather-info {
    padding: $default-spacing;
    background: #ececec;
    border-radius: $default-border-radius;
    margin-top: 10px;

    .weather-city {
        min-height: 28px;
        
        &:empty {
            background-color: #cfcfcf;
            border-radius: $default-border-radius;
            opacity: 0.5;
        }
    }
    
    .weather-condition {
        min-height: 100px;
        background-color: #cfcfcf;
        border-radius: $default-border-radius;
        opacity: 0.5;
        margin-bottom: 10px;
        padding: 0 20px;
    }

    .weather-attributes {
        margin-bottom: 0;

        tr {
            th {
                padding: 2px $default-spacing 2px 0;
                min-width: 220px;
            }

            td {
                min-height: 25px;
                width: 100%;
                text-align: right;

                &:empty {
                    background-color: #cfcfcf;
                    opacity: 0.5;
                }
            }

            &:first-child {
                td {
                    border-radius: $default-border-radius $default-border-radius 0 0;
                }
            }

            &:last-child {
                td {
                    border-radius: 0 0 $default-border-radius $default-border-radius;
                }
            }
        }
    }
}